body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: sans-serif;
	background-color: #f4f4f4;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header{
	background: linear-gradient(to right, #960083, #ec1063);
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 5px solid #ec1063
}

header #branding {
	float: left;
}

header #branding h1{
	margin: 0px;
}

header nav{
	float: right;
	margin-top: 10px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

ul{
	margin: 0;
	padding: 0;
}

header #branding, header .active a{
	color: #fff;
	font-weight: bold;
}

header a:hover{
	color: #960083;
	font-weight: bold;
}

#showcase{
	min-height: 500px;
	background:url(bgg.jpg);
	text-align: center;
	color: #ec1063;
}

#showcase h1{
	margin-top: 120px;
	font-size: 55px;
	margin-bottom: 10px;
	text-shadow: 2px 2px 5px #960083;
}

#shadowcase p{
	font-size: 20px;
}

#newsletter{
	padding: 15px;
	color: #fff;
	background: linear-gradient(to right, #960083, #ec1063);
}

#newsletter h1{
	float: left;
}

#newsletter form{
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

.buttonsubs{
	height: 38px;
	background-color: #ec1063;
	border:0;
	padding-left: 20px;
	padding-right: 2px;
	color: #fff;
}

#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#boxes .box img{
	width: 90px;
}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background: linear-gradient(to right, #960083, #ec1063);
	text-align: center;
}